html, body { 
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
}

div#home {
    border: 0px;
    float: left;
    padding-top: 0.1em;
    padding-right: 0.15em;
}
div#up {
    border: 0px;
    float: left;
    padding-top: 0.1em;
    padding-right: 0.15em;
}

div#progress {
    float: right;
    padding-top: 0.15em;
}

div#controls {
    position: fixed;
    background-color: #CCC;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid black;
}

div#control-table {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 85%;
}

div#control-display {
    border-top: 4px solid white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

div.remaining {
    padding-top: 10px;
}
div.remaining span {
    font-weight: bold;
}

div#main {
    position: absolute;
    top:2.75em;
    left:0px;
    right:0px;
    bottom:0px;
}

div#table {
    top: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.label {
    padding-top: 8px;
    padding-bottom: 2px;
}

div#displaying {
    float:right;
}
div#displaying span {
    font-weight: bold;
}
span.display-info {
    border: 1px solid black;
    padding: 3px;
    background-color: #DDDDDD;
}

input.watermark { color: gray; }

table.tablesorter thead tr th.cat {
    text-align: center;
}

table.tablesorter thead tr th.sub {
    vertical-align: bottom;
    height: 8em;
    max-width: 20px;
}
table.tablesorter thead tr th.sub span {
    font-size: 9pt;
    text-align: center;
    white-space:nowrap;
    display:block;
    writing-mode:tb-rl;
    -webkit-transform-origin: 20% 20%;
    -moz-transform-origin:    20% 20%;
    -ms-transform-origin:     20% 20%;
    -o-transform-origin:      20% 20%;
    transform-origin:         20% 20%;
    -webkit-transform: rotate(270deg);
    -moz-transform:    rotate(270deg);
    -ms-transform:     rotate(270deg);
    -o-transform:      rotate(270deg);
    transform:         rotate(270deg);
}
table.tablesorter tbody tr td.level1 {
    background-color: #99FF99;
}
table.tablesorter tbody tr td.level2 {
    background-color: #FFFF66;
}
table.tablesorter tbody tr td.level3 {
    background-color: #FF9933;
}
table.tablesorter tbody tr td.level4 {
    background-color: #FF7777;
}

div#plots {
    padding-left: 2em;
    width: 100%;
    top: 0px;
    left: 0px;
}
div.plot {
    height: 250px;
    width: 800px;
}



