
.ddl {position: relative; z-index:9001;}
.ltd {color:blue;}
.ltd:hover {text-decoration:underline;}
/*
thead {
    width:100% !important;
    height:100% !important;
}

#header {
    width:100% !important;
    height:100% !important;
}

div.dataTables_scrollHead {
    width:100% !important;
    height:100% !important;
}

div.dataTables_scrollHeadInner {
    width:100% !important;
    height:100% !important;
}
table.dataTable {
    width:100% !important;
    height:100% !important;
}

/* Makes the sort icon orient the correct way*/
/*span.DataTables_sort_icon {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
ddiv.DataTables_sort_wrapper {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   /* -o-transform:rotate(-90deg);*/
/*}
th {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   /* -o-transform:rotate(-90deg);
}*/
