
body{font-size:10px;}

.ddl {position: relative; z-index:9001;}
.ltd {color:blue;}
.ltd:hover {
    text-decoration:underline;
    cursor: hand;
    cursor: pointer;
}

/*Aggregate Classes*/

.aggrRed {
    background-color: #F77 !important;
    font-weight: bold;
}

.aggrOrange {
    background-color: #F93 !important;
    font-weight: bold;
}

.aggrYellow {
    background-color: #FF6 !important;
    font-weight: bold;
}

.aggrGreen {
    background-color: #9F9 !important;
    font-weight: bold;
}

/*Header Classes*/
.headerMain {
    font-size: 12px;
    width:100%;
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
    position:relative;
}

.headerTitle {
    position: relative;
    left:5px;
    font-size: 20px;
    vertical-align: middle;
}

.headerDateRange {

    font-size: 16px;
    vertical-align: middle;
}

/*Tab classes*/
.tabSubHeader {
    font-size: 12px;
}


/*Generic Classes*/
button:hover {
    text-decoration:underline;
    cursor: hand;
    cursor: pointer;
}

.right {
    float:right
}

tr.even {
    background-color: #F0F7FE;
}

tr.odd {
    background-color: white;
}


/*
thead {
width:100% !important;
height:100% !important;
}

#header {
width:100% !important;
height:100% !important;
}

div.dataTables_scrollHead {
width:100% !important;
height:100% !important;
}

div.dataTables_scrollHeadInner {
width:100% !important;
height:100% !important;
}
table.dataTable {
width:100% !important;
height:100% !important;
}

/* Makes the sort icon orient the correct way*/
/*span.DataTables_sort_icon {
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
ddiv.DataTables_sort_wrapper {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
/* -o-transform:rotate(-90deg);*/
/*}
th {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
/* -o-transform:rotate(-90deg);
}*/
