/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
    /*font-weight: 700;*/
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #ADD8E6; /*light blue*/
	border: 1px solid #FFF;
	font-size: 10pt;
    font-weight: bold;
	padding: 4px;
}
table.tablesorter thead tr th.cat, table.tablesorter tfoot tr th.cat {
    background-color: #4682B4; /*steel blue*/
    font-weight: bold;
    color: #FFF;
}
table.tablesorter thead tr .header {
    padding-right: 20px;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8BB6C4; /*light steel blue*/
    /*background-color: #F0F8FF;*/
}
table.tablesorter tbody tr {
    background-color: #FFF;
}
table.tablesorter tbody tr.odd {
    background-color: #EEE;
}
table.tablesorter tbody tr td a {
    color: #228822;
}
table.tablesorter tbody tr td a:visited {
    color: #226622
}
